# The v4 API
# This application must be connected to a Goteo v4 API instance
PUBLIC_API_URL=""
PUBLIC_API_VERSION="v4"

# Client-Side Cache layer, powered by browser-native Cache API
# https://developer.mozilla.org/en-US/docs/Web/API/Cache
PUBLIC_CSCACHE="true"
PUBLIC_CSCACHE_TTL=3600

# OAuth
# An OAuth client must exist for this web app in the v4 API instance
# The client should allow the grants: `authorization_code`, `refresh_token`, `password`
# https://api.v4.goteo.org/v4#section/Authentication
OAUTH2_CLIENT_ID=""
OAUTH2_CLIENT_SECRET=""

# Application defaults
# This application will fall back to these values when it cannot find them from their normal flows
PUBLIC_DEFAULT_CURRENCY="EUR"
PUBLIC_DEFAULT_LANGUAGE="en"
PUBLIC_DEFAULT_COUNTRY="ES"
PUBLIC_DEFAULT_MAXSIZE=8388608

# Tipping
# To accept tipping from users a dedicated Tipjar must exist in the v4 API instance
# Leave the TIPJAR_ID value empty to disable tipping
# https://api.v4.goteo.org/v4#tag/Tipjar
PUBLIC_TIPPING_TIPJAR_ID=""
PUBLIC_TIPPING_DEFAULT_AMOUNT=""
PUBLIC_TIPPING_DEFAULT_CHECKED="false"

# Campaign limits
PUBLIC_CAMPAIGN_MIN_REV_DAYS=14
PUBLIC_CAMPAIGN_MAX_END_DATE="" # Accepts partial values, leave empty to disable limit

# Facebook's share dialog
# https://developers.facebook.com/docs/sharing/reference/share-dialog
PUBLIC_FACEBOOK_APP_ID=""

# Cloudflare Workers configuration
# https://developers.cloudflare.com/workers/configuration/environment-variables/
CLOUDFLARE_INCLUDE_PROCESS_ENV="true"

# D1 local database
# Force Miniflare to use a local SQLite file for D1 instead of connecting to remote
CLOUDFLARE_D1_URLS='{"goteo-db": "file:./.wrangler/d1/goteo-db.sqlite"}'

# HTTP Basic auth
# Set this to "true" in order to add a Basic auth layer on top of the application
# This is not a replacement for OAuth
BASIC_AUTH="false"
BASIC_AUTH_USERNAME=""
BASIC_AUTH_PASSWORD=""

# Object Storage
# To allow upload of media an S3-compatible object storage must be configured
# A dedicated bucket must exist for the application to use freely
OBJECT_STORAGE_ACCESS_KEY=""
OBJECT_STORAGE_SECRET_KEY=""
OBJECT_STORAGE_REGION=""
OBJECT_STORAGE_ENDPOINT=""
OBJECT_STORAGE_BUCKET=""
