.marked-content {
    font-size: 16px;
    color: var(--color-content);
}

.marked-content img {
    margin: auto;
    margin-top: var(--text-xl);
    margin-bottom: var(--text-xl);

    border-radius: var(--radius-2xl);
    max-width: 100%;
    height: auto;
}

.marked-content iframe,
.marked-content video {
    max-width: 100%;
    border-radius: var(--radius-2xl);
}

.marked-content pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
}

.marked-content a {
    overflow-wrap: break-word;
    word-break: break-word;
}

.marked-content ul {
    padding-left: var(--text-xl);
    padding-bottom: var(--text-lg);
    list-style: initial;
}
.marked-content ol {
    padding-left: var(--text-xl);
    padding-bottom: var(--text-lg);
    list-style: decimal;
}

.marked-content blockquote {
    border-left: 4px solid var(--color-primary);
    padding-left: var(--text-lg);
    margin-bottom: var(--text-lg);
}

.marked-content h3 {
    padding-top: var(--text-lg);
    font-size: var(--text-sm);
    font-weight: var(--font-weight-bold);
    line-height: var(--text-xs--line-height);
}

.marked-content li {
    margin-bottom: 0;
}

.marked-content p {
    margin-bottom: var(--text-lg);
}

.marked-content p:last-child {
    margin-bottom: 0;
}

.marked-content hr {
    display: none;
}

.marked-content strong {
    font-weight: var(--font-weight-bold);
}
